@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}
:root{
  --text-color: #000;
  --hover-color: #00a5cf;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}
/* <!-- 
        Header Section
--> */
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e3e6f3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
#header img{
  width: 60px;
}
#header #navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  transition: .3s ease;
}
#navbar li a:hover,
#navbar li a.active{
  color: var(--hover-color);
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: '';
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 20px;
  background-color: var(--hover-color);
  width: 30%;
}
#header #mobile{
  display: none;
  align-items: center;
}
#header #close{
  display: none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e3e6f3;
  /* padding: 15px 200px; */
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
header .logo{
  width: 60px;
}
header .navigation{
  position: relative;
}
header .navigation .navigation-items a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  transition: .3s ease;
  position: relative;
  margin-left: 30px;
}
header .navigation .navigation-items a::before{
  content: '';
  height: 3px;
  position: absolute;
  top: 18px;
  left: 0;
  background-color: var(--hover-color);
  width: 0;
  transition: .3s ease;
}
header .navigation .navigation-items a:hover::before{
  width: 100%;
}
/* <!-- 
        Hero Section
--> */
#hero{
  background: url(../img/slide2.jpg) top 55% right 0 / cover;
  min-height: 90vh;
  width: 100%;
  padding-inline: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-block: 20px;
  font-size: 22px;
}
#hero h2{
    font-size: 35px;
}
#hero h1{
  color: var(--hover-color);
  font-size: 42px;
}
#hero button{
  background: transparent url(../img/button.png) no-repeat;
  border: 0;
  color: var(--hover-color);
  padding: 14px 80px 14px 65px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
/* <!-- 
        Feature Section
--> */
#feature{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
#feature .fe-box{
  display: grid;
  place-items: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  color: #00a5cf;
  background-color: #fddde4;
  line-height: 1;
  border-radius: 4px;
}
#feature .fe-box:nth-of-type(2) h6{
  background-color: #cdebbc;
}
#feature .fe-box:nth-of-type(3) h6{
  background-color: #d1e8f2;
}
#feature .fe-box:nth-of-type(4) h6{
  background-color: #cdd4f8;
}
#feature .fe-box:nth-of-type(5) h6{
  background-color: #f6dbf6;
}
#feature .fe-box:nth-of-type(6) h6{
  background-color: #fff2e5;
}
/* <!-- 
        Products Section
--> */
#product1{
  text-align: center;
}
#product1 .pro-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-top: 20px;
}
#product1 .pro{
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:last-child{
  display: none;
}
#product1 .pro .des{
  text-align: start;
  padding-block: 10px;
}
#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: #f3b519;
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
/* <!-- 
        Banner Section
--> */
#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: url(../img/banner/b2.jpg) center / cover;
  width: 100%;
  min-height: 40vh;
}
#banner h4{
  color: #fff;
  font-size: 16px;
}
#banner h2{
  color: #fff;
  font-size: 30px;
  padding-block: 10px;
}
#banner h2 span{
  color: #ef3636;
}
#banner button:hover{
  background-color: #088178;
  color: #fff;
}
/* <!-- 
      Small Banner Section
--> */
#sm-banner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
#sm-banner .banner-box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: url(../img/banner/b17.jpg) center / cover;
  height: 50vh;
  padding: 30px;
}
#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
  background-color: #088178;
  border: 1px solid #088178;
}
#sm-banner .banner-box2{
  background: url(../img/banner/b10.jpg);
}

/* <!-- 
        Multiple Banner
--> */
#banner3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 80px;
  grid-gap: 20px;
}
#banner3 .banner-box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: url(../img/banner/b7.jpg) center / cover;
  height: 30vh;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3{
  color: #ef3636;
  font-weight: 800;
  font-size: 15px;
}
#banner3 .banner-box:nth-of-type(2){
  background-image: url(../img/banner/b4.jpg);
}
#banner3 .banner-box:nth-of-type(3){
  background-image: url(../img/banner/b18.jpg);
}
/* <!-- 
        News Letter Section
--> */
#newletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #041e42 url(../img/banner/b14.png) no-repeat 20% 30% / cover;
}
#newletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newletter p span{
  color: #ffbd27;
}
#newletter .form{
  display: flex;
  width: 40%;
}
#newletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* <!-- 
        Footer Section
--> */
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
  width: 60px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 12px;
}
footer p{
  font-size: 13px;
  margin: 0 0 15px 0;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  padding-right: 4px;
  cursor: pointer;
  color: #465b52;
}
footer .install img{
  margin: 10px 0 15px 0;
}
footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .follow i{
  color: #088178;
}
footer .follow i:hover,
footer a:hover{
  color: #088178;
}
footer .copyright{
  width: 100%;
  text-align: center;
}
/* ==================== Contact Section ==================== */

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: url(../img/about/banner.png) center / cover;
  width: 100%;
  height: 40vh;
}
#contact h2{
  color: #fff;
}
#contact p{
  color: #fddde4;
}
#contact-detail{
  padding-inline: 80px;
}
.welcome-figo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.det{
  width: 100%;
  padding: 20px;
}
.det h4,
.get-touch form span{
  font-size: 12px;
}
.det h2,
.get-touch form h2{
  font-size: 26px;
  line-height: 36px;
  padding: 20px 0;
}
.det h5{
  font-size: 16px;
  padding-bottom: 15px;
}
.det li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}
.det li i{
  font-size: 14px;
  padding-right: 22px;
}
.det p{
  margin: 0;
  font-size: 14px;
}
.chef-img{
  width: 100%;
  padding: 20px;
}
.chef-img iframe{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#form-details{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
.get-touch form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.get-touch form input,
.get-touch form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: 0;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.get-touch form button{
  background-color: #088178;
  color: #fff;
}
#form-details .people{
  padding-left: 40px;
  padding-top: 80px;
}
#form-details .people div{
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
@media (max-width: 1024px){
  header{
      padding: 12px 20px;
  }
  header .navigation{
    display: none;
  }
  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 70px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(1, 1, 1, 0.05);
  }
  header .navigation .navigation-items a{
    color: #222;
    font-size: 18px;
    margin: 20px;
  }
  header .navigation .navigation-items a::backdrop{
    height: 5px;
    background: #222;
  }
  header .navigation.active .navigation-items{
    background: #e3e6f3;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }
  .menu-btn{
    background: url(../img/menu-btn/apps.svg) center / 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3 ease;
  }
  .menu-btn.active{
    z-index: 999;
    background: url(../img/menu-btn/multiply.svg) center / 25px;
    transition: 0.3 ease;
  }
  #hero h4{
    font-size: 30px;
    font-weight: 800;
  }
  #hero h1{
    font-size: 48px;
  }
  #hero h2{
    font-size: 42px;
  }
  #hero button{
    font-size: 12px;
    font-weight: 600;
  }
  #feature{
    grid-template-columns: repeat(3, 1fr);
  }
  #product1 .pro-container{
    grid-template-columns: repeat(3, 1fr);
  }
  #product1 .pro:last-child{
    display: block;
  }
  #banner3 h2{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
  }
  #banner3 h3{
    color: #ef3636;
    font-weight: 500;
    font-size: 10px;
  }
  #banner3 .banner-box{
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 799px){
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    transition: 0.3s ease;
  }
  #navbar.active{
    right: 0;
  }
  #navbar li {
    margin-bottom: 20px;
  }
  #header #mobile{
    display: flex;
    align-items: center;
  }
  #header #mobile i, span,
  .close{
    color: var(--text-color);
    font-size: 24px;
    padding-left: 20px;
  }
  #header #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--hover-color);
    font-size: 24px;
  }
  #lg-bag{
    display: none;
  }
  #hero {
    height: 70vh;
    padding-inline: 80px;
    background-position: top 30% right 30%;
}
#feature {
  justify-content: center;
}
#feature .fe-box {
  margin: 15px 15px;
}
#banner{
  min-height: 30vh;
  padding-block: 20px;
}
#sm-banner{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
#sm-banner .banner-box{
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner3{
  padding: 0 40px;
}
#banner3 .banner-box{
  text-align: center;
}
#banner3 h2{
  color: #fff;
  font-weight: 800;
  font-size: 12px;
}
#banner3 h3{
  color: #ef3636;
  font-weight: 600;
  font-size: 12px;
}
#newletter .form{
  width: 70%;
}
}
@media (max-width: 769px){
  #feature .fe-box {
    margin: 0;
}
  #form-details {
    grid-template-columns:1fr;
    padding: 40px;
}
  #form-details .people{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 0 0 0;
  }
  .welcome-figo{
    grid-template-columns: 1fr;
  }
  #product1 .pro-container{
    grid-template-columns: repeat(2, 1fr);
  }
  #product1 .pro:last-child{
    display: none;
  }
  #banner3{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #banner3 .banner-box:last-child{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-position: top center;
  }
}
@media (max-width: 655px){
  #hero h4{
    font-size: 20px;
  }
  #hero h1{
    font-size: 40px;
  }
  #hero h2{
    font-size: 38px;
  }
  #hero button{
    font-size: 12px;
    font-weight: 600;
  }
}
@media (max-width: 477px){
  .section-p1{
    padding: 20px;
  }
  #header{
    padding: 10px 30px;
  }
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 32px;
  }
  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
  #hero h4{
    font-size: 17px;
  }
  #hero h1{
    font-size: 35px;
  }
  #hero h2{
    font-size: 32px;
  }
  #hero button{
    font-size: 10px;
    font-weight: 400;
  }
  #feature{
    grid-template-columns: repeat(2, 1fr);
  }
  #product1 .pro-container{
    grid-template-columns: 1fr;
  }
  #banner{
    min-height: 30vh;
    padding-block: 20px;
  }
  #sm-banner .banner-box{
    height: 40vh;
  }
  #sm-banner .banner-box h2{
    font-size: 20px;
  }
  #banner3{
    grid-template-columns:1fr;
  }
  #banner3 .banner-box{
    background-position: center;
    background-size: cover;
  }
  #banner3 .banner-box:first-child{
    grid-column: 1 / 3;
  }
  #newletter{
    padding: 40px 20px;
  }
  #newletter .form{
    width: 100%;
  }
  #contact-detail {
    padding-inline: 20px;
}
.chef-img {
  width: 100%;
}
#form-details {
  padding: 40px 20px;
}
}
@media (max-width: 320px){
  #header img{
    width: 40px;
  }
  #header #mobile i,
  .close{
    font-size: 20px;
    padding-left: 17px;
  }
  #feature{
    grid-template-columns: 1fr;
  }
  #sm-banner .banner-box h2{
    margin: 0;
    padding: 0;
  }
  #sm-banner .banner-box h4{
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  #hero h4{
    font-size: 12px;
  }
  #hero h1{
    font-size: 30px;
  }
  #hero h2{
    font-size: 27px;
  }
  #hero button{
    font-size: 15px;
    font-weight: 400;
  }
}

